.btn-edit, .btn-delete {
    margin-top:8px;
    margin-left:2px;
}

.my-image {
    border-radius: 5px;
    max-height: 100px;
    max-width: 100px;
    border: 2px solid #d3d3d3;
}

.my-image-table {
    border-radius: 5px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #d3d3d3;
}